// This file is included after all of Bootstrap. Any customization that can't
// be made using variable definitions should be done here.

// Alerts

.alert-dismissible .close {
  color: theme-color("gray");
  opacity: 1;

  &:hover {
    color: theme-color("gray");
  }
}


// Badges

.badge {
  font-family: $font-family-sans-serif;
  line-height: 1.25rem;

  .badge-info {
    --pgn-badge-bg-color: #{$badge-info-bg};
  }
}

// Buttons

.btn {
  text-decoration: none;
}

.btn-link {
  text-decoration: none;

  &.hover,
  &:hover {
    text-decoration: none;
  }

  &.focus,
  &:focus {
    outline: 1px dotted;
    outline: 5px auto -webkit-focus-ring-color;
    text-decoration: none;
  }
}

@each $color, $value in $theme-colors {
  .btn-outline-#{$color} {
    background: $white;
    border-color: $light-300;

    &:not(:disabled):not(.disabled) {
      &:hover, &:active, &.hover, &.active {
        background: $value;
        border-color: $value;
        color: $white;
      }

      &:focus, &.focus {
        background: $white;
        color: $value;
        border-color: $light-300;

        &:before {
          border-color: $value;
        }
      }
    }

    &:disabled, &.disabled {
      border-color: $light-300;
      background-color: $white;
    }
  }

  .btn-#{$color} {
    &:hover {
      border-color: transparent;
    }

    &.focus, &:focus {
      background: $value;

      &::before {
        border-color: $value;
      }
    }
  }
}

.btn-tertiary:not(:disabled):not(.disabled) {
  &:focus, &.focus {
    background: $btn-tertiary-bg;
  }
}

.btn-primary:not(:disabled):not(.disabled) {
  &:hover, &:active, &.hover, &.active {
    background: $primary-300;
    border-color: transparent;
    color: $white;
  }

  &:focus, &.focus {
    background: $primary-500;
  }
}

.btn-inverse-outline-primary {
  background: transparent;
  color: $white;
  border-color: $gray-500;

  &:not(:disabled):not(.disabled) {
    &:hover, &:active, &.hover, &.active {
      background: $white;
      border-color: transparent;
      color: $primary;
    }

    &:focus, &.focus {
      background: transparent;
      border-color: $gray-500;
      color: $white;

      &:before {
        border-color: $white;
      }
    }
  }
}

.btn-inverse-outline-brand {
  background: transparent;
  color: $white;
  border-color: $white;

  &:not(:disabled):not(.disabled) {
    &:hover, &:active, &.hover, &.active {
      background: $brand;
      border-color: transparent;
      color: $white;
    }
  }

  &:not(:disabled):not(.disabled) {
    &:focus, &.focus {
      background: transparent;
      border-color: $white;

      &:before {
        border-color: $white;
      }
    }
  }
}

.btn-inverse-brand {
  background: $brand;
  color: $white;
  border-color: transparent;

  &:not(:disabled):not(.disabled) {
    &:hover, &:active, &.hover, &.active {
      background: $brand-700;
      border-color: transparent;
      color: white;
    }

    &:focus, &.focus {
      background-color: $brand-500;

      &:before {
        border-color: $brand-500;
      }
    }
  }

  &:disabled, &.disabled {
    background-color: $brand-500;
    border-color: $brand-500;
    color: $white;
  }
}

.btn-inverse-tertiary:not(:disabled):not(.disabled) {
  &:focus, &.focus {
    background: transparent;

    &:before {
      border-color: $white;
    }
  }
}

.btn-inverse-primary {
  background: $white;
  color: $primary;
  border-color: transparent;

  &:not(:disabled):not(.disabled) {
    &:hover, &:active, &.hover, &.active {
      background: $primary-300;
      border-color: transparent;
      color: $white;
    }

    &:focus, &.focus {
      background: $white;
      color: $primary-500;

      &:before {
        border-color: $white;
      }
    }
  }

  &:disabled, &.disabled {
    background-color: $white;
    border-color: $white;
  }
}

// Avatar buttons in tertiary style (the default) are darker than regular tertiary buttons
.btn-avatar.btn-tertiary {
  color: $primary-500;
}

// Forms

// This loop is modeled after the loop in bootstrap's _forms.scss
// which calls a mixin, form-validation-state($state, $color, $icon).
// We make several overrides here for icons and focus states.
@each $state, $data in $form-validation-states {
  $color: map-get($data, color);
  $icon: map-get($data, icon);

  // Do not use validation color for feedback text
  // Add the validation icon to feedback text
  .#{$state}-feedback {
    color: $body-color;
    font-weight: 400;

    &:before {
      content: '';
      background-image: $icon;
      height: 1rem;
      width: 1rem;
      display: inline-block;
      vertical-align: text-bottom;
      margin-right: .3em;
    }
  }

  // Override focus states, use the standard focus
  // instead of a generated color.
  .form-control {
    .was-validated &:#{$state},
    &.is-#{$state} {
      &:focus {
        border-color: $color;
        box-shadow: 0 0 0 $input-focus-width $color;
      }
    }
  }

  .custom-select {
    .was-validated &:#{$state},
    &.is-#{$state} {
      &:focus {
        border-color: $color;
        box-shadow: 0 0 0 $input-focus-width $color;
      }
    }
  }
}

select.form-control {
  background-repeat: no-repeat;
  background-position: right 1rem center;
  background-image: str-replace($custom-select-indicator, "#", "%23");
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

.popover-header {
  border-bottom: solid 1px $gray-100;
}

// Grid

.container {
  padding-left: $grid-gutter-width;
  padding-right: $grid-gutter-width;
}

.container-fluid {
  padding-left: $grid-gutter-width;
  padding-right: $grid-gutter-width;
}


// Typography

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h2, .h2 {
  line-height: calc((36 / 16) * 1rem);
}

h3, .h3 {
  line-height: calc((28 / 16) * 1rem);
}

h4, .h4 {
  line-height: calc((24 / 16) * 1rem);
}

h5, .h5 {
  line-height: calc((20 / 16) * 1rem);
}

h6, .h6 {
  line-height: calc((20 / 16) * 1rem);
}

.lead {
  line-height: calc((36 / 16) * 1rem);
}

.small {
  line-height: calc((24 / 16) * 1rem);
}

.x-small {
  line-height: calc((20 / 16) * 1rem);
}

p > a[href]:not(.btn),
a.inline-link {
  text-decoration-line: underline;
  text-decoration-color: rgba($link-color, .3);
  &:hover {
    text-decoration-color: rgba($link-color, 1);
  }
}

// Temporary fix for search fields. See https://github.com/edx/elm-theme/pull/9#issuecomment-723208124

.pgn__searchfield {
  border-radius: 0 !important;
  .btn {
    background: $input-bg;
    display: flex;
  }
  &.has-focus {
    .btn {
      background: $input-focus-bg;
    }
    border-color: $input-focus-border-color !important;
  }
}

// Progress Bar
.progress {
  border: $progress-bar-border-width solid $progress-bar-border-color;
}
.progress-bar {
  background-color: $progress-bar-bg;
}


@mixin btn-styles($bg, $color, $border-color, $hover-bg, $hover-color, $hover-border-color) {
  background: $bg !important;
  color: $color !important;
  border: var(--pgn-size-btn-border-width) solid $border-color !important;

  span {
    color: $color !important;
  }

  &:hover {
    background-color: $hover-bg !important;
    color: $hover-color !important;
    border-color: $hover-border-color !important;

    span {
      color: $hover-color !important;
    }
  }
}

// Set the default color of links
a:not(.btn, .help-link),
a:not(.btn):hover,
a:not(.btn):focus,
a:visited:not(.btn):hover,
a:visited:not(.btn):focus {
  color: var(--pgn-color-link-base);
}

header.learning-header,
header.learner-variant-header,
header.site-header-desktop {
  // Set the header background color
  background-color: var(--pgn-color-header-bg);

  // Set the header for desktop
  &.site-header-desktop {
    background-color: var(--pgn-color-header-bg);
  }

  // Set the top and bottom border of the header
  border-top: var(--pgn-size-header-border-top-width) solid var(--pgn-color-header-border-top);
  border-bottom: var(--pgn-size-header-border-bottom-width) solid var(--pgn-color-header-border-bottom);
  // The default height is 3.75rem, to that we add the additional border size, otherwise
  // it breaks the UI.
  height: calc(3.75rem + var(--pgn-size-header-border-top-width) + var(--pgn-size-header-border-bottom-width));
  // Set the color of text in the header - course about page.
  span {
    color: var(--pgn-color-header-nav-text);
  }

  .nav-links {
    // Set the color of the links in the dashboard
    .main .nav-tab a,
    .secondary .nav-item a,
    .secondary .nav-item a span,
    .toggle-user-dropdown span {
      color: var(--pgn-color-header-nav-link) !important;
    }

    // Set the bottom border color of the links in the dashboard like 'Courses', 'Programs', 'Profile' etc.
    .main .nav-tab a {
      &.active {
        border-bottom-color: var(--pgn-color-header-nav-item-border-bottom-color) !important;
        border-bottom-style: solid !important;
      }
    }

    .main .nav-tab a {
      &:not(.active):hover {
        border-bottom-color: var(--pgn-color-header-nav-item-border-bottom-hover-color) !important;
        border-bottom-style: solid !important;
      }
    }

    // Customize the color of the links in the user dropdown menu
    nav.secondary-menu-container .dropdown-menu .dropdown-item a {
      color: var(--pgn-color-header-nav-user-dropdown-menu-item-color) !important;
    }
  }

  .main .nav-tab a,
  .secondary .nav-item a:not(.btn):not(.help-link),
  .secondary .nav-item .toggle-user-dropdown {
    // Set the color of the dropdown arrow of the user dropdowm menu
    color: var(--pgn-color-link-base) !important;
  }

  // Customize the sign-in button on the home page header
  a.sign-in-btn {
    @include btn-styles(
      var(--pgn-color-sign-in-btn-bg),
      var(--pgn-color-sign-in-btn-text),
      var(--pgn-color-sign-in-btn-border),
      var(--pgn-color-sign-in-btn-hover-bg),
      var(--pgn-color-sign-in-btn-hover-text),
      var(--pgn-color-sign-in-btn-hover-border)
    );
  }
  // Customize the register button on the home page header
  a.register-btn {
    @include btn-styles(
      var(--pgn-color-register-btn-bg),
      var(--pgn-color-register-btn-text),
      var(--pgn-color-register-btn-border),
      var(--pgn-color-register-btn-hover-bg),
      var(--pgn-color-register-btn-hover-text),
      var(--pgn-color-register-btn-hover-border)
    );
  }

  // Set the color of nav items in the learner dashboard MFE
  .btn-inverse-primary,
  .btn-icon-inverse-primary,
  .btn-light,
  .show > .btn-light.dropdown-toggle {
    color: var(--pgn-color-link-base) !important;
    background-color: $header-btn-bg !important;
    border-radius: 0 !important;
  }

  // Remove border white color from user dropdown in header
  .btn-avatar {
    border-width: 0 !important;
  }
}

.learner-variant-header {
  .course-link:hover {
    border-bottom: inherit !important;
  }
}

footer.footer {
  background: var(--pgn-color-footer-bg); // Footer color
  background-color: var(--pgn-color-footer-bg) !important; // Footer color
  box-shadow: none !important;

  // Customize the footer border
  border-top: var(--pgn-size-footer-border-top-width) solid var(--pgn-color-footer-border-bottom) !important;
  border-bottom: var(--pgn-size-footer-border-bottom-width) solid var(--pgn-color-footer-border-bottom);

  color: var(--pgn-color-footer-text) !important; // Footer text color

  a {
    color: var(--pgn-color-footer-link) !important; // Link color
  }
}

// Set color for course nav bar in Learning MFE
.course-tabs-navigation a.nav-link {
  &:focus,
  &:hover,
  &.active {
    color: var(--pgn-color-course-nav-menu-text);
  }

  &.active {
    border-bottom-color: var(--pgn-color-course-nav-menu-border-bottom);
  }
}

// Discussions mfe overwrites learning header color to white
.learning-header {
  background-color: var(--pgn-color-header-bg) !important;
}

.learning-header a {
  color: var(--pgn-color-link-base) !important;

  &:focus,
  &:hover,
  &.active {
    color: var(--pgn-color-link-base) !important;
  }
}

// Header navigation colors in the learner dashboard MFE on mobile
.nav-small-menu {
  .btn-inverse-primary {
    color: var(--pgn-color-link-base);
  }
}


@import "./header";
@import "./footer";
@import "./login";
@import "./progress";
@import "./tour";
@import "./learning";
@import "./discussion";
@import "./account";
@import "./profile";
@import "./dates";
@import "./extras";
