<%namespace name='static' file='static_content.html'/>
<%!
from django.utils.translation import gettext as _
from openedx.core.djangoapps.site_configuration import helpers as configuration_helpers
import datetime
%>

<footer class="wutiskill-footer">
    <div class="container">
        <div class="footer-content">
            <p class="copyright">
                &copy; ${datetime.datetime.now().year} ${configuration_helpers.get_value('PLATFORM_NAME', 'WutiSkill')}. ${_("Tous droits réservés.")}
            </p>
        </div>
    </div>
</footer>
